.details-container {
  padding: 20px;
}

.mission-details {
  background-color: #65c4a3;
  padding: 20px;
  margin: 20px;
}

img {
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
}

p {
  margin: 5px 0;
}

.loading, .error {
  text-align: center;
  padding: 20px;
}